<%- include('partials/head') %>
<%- include('partials/topbar') %>
<div class="layout single">
  <main class="content">
    <article class="doc">
      <h1 class="doc-title"><%= heading %></h1>
      <pre class="error-message"><%= message %></pre>
      <p><a class="btn btn-primary" href="/home">Back to Home</a></p>
    </article>
  </main>
</div>
<%- include('partials/foot') %>
